{% extends "base.html" %}

{% block title %}Scary Tornado Facts{% endblock %}

{% block content %}

<div class="container mt-4">

    <h1 class="text-center mb-4">🌪️ Scary Tornado Facts</h1>

    <p class="text-center lead">
        Tornadoes are some of the most violent storms on Earth.
    </p>

    <div class="row mt-4">

        <div class="col-md-6 mb-3">
            <div class="card p-3 bg-dark text-white">
                <h4>Tornadoes vary in time</h4>
                <p>Once a tornado has touched down. It can remain on the ground for a few minutes to hours.</p>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card p-3">
                <h4>Tornado sirens are recent.</h4>
                <p>Tornado warning sirens only have been invented during the 1970s. Meaning that prior to the 70s. Nobody would've
                    able to have a quick enough warning to escape or seek shelter in time. 
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card p-3 bg-warning">
                <h4>Nocturnal Tornadoes</h4>
                <p>Yes you read that right. Tornadoes don't discriminate on the time of day. They sometimes touch down during the middle
                    of the night so people could be fast asleep and not realize the tornado sirens and the storm hitting the ground.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card p-3">
                <h4>Widest ever recorded tornado reached over 2 miles in width</h4>
                <p>The 2013 El Reno tornado reached 2.6 miles wide. That's more than double the entire campus of Southern!</p>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card p-3 bg-danger text-white">
                <h4>It isn't the tornado itself that kills you.</h4>
                <p>Even small tornadoes have enough power to pick people up. What makes them lethal for the most part is people getting hit 
                    by debris of various sizes at high speeds.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card p-3">
                <h4>Tornado standing still... Or is it?</h4>
                <p>If you're viewing a tornado and it's seeming not moving. That means it's either coming towards you or away.</p>
            </div>
        </div>

    </div>

</div>

{% endblock %}